{{#each items}}
    <div class="repoContainer">
        <p class="name"><span>Name:</span> {{name}}</p>
        <p class="forks"><span>Number of forks:</span> {{forks}}</p>
        <p class="stars"><span>Number of stars:</span> {{stargazers_count}}</p>
        <p class="description"><span>Description:</span> {{description}}</p>
        <p class="url"><span>URL:</span> {{url}}</p>
    </div>
{{/each}}
